  body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    font-size: 16px;
    color: purple;
    background-color: #d8da3d }

  h3 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  
  .intro{
  	font-style: italic;
  	border: 15px ;

  }
  .interesting-fact{
  	font-weight: bold
  }

  img{
    width:100%;
  	height: auto;
  	border:15px; alt="Null";
  }
  
  .animal-info{
  	border-radius: 2px;
  	border: 1px solid gray;

  }
  .card{
  	border-radius: 2px;
  	border: 1px solid gray;
  	box-shadow: 10px 10px 5px #888888;
  	width: 300px;
  	padding: 15px;
  	margin: 25px; 

  }
  ul{
  	list-style-type: none;
  	border: 15px;
  	padding: 15px;
	

  }
  p{
  	border: 15px;
  	padding: 15px;
  }
